span{
    color:red;
}
.pageCards {
  text-align: center;
  
  
}
.box{
  display: flex;
  flex-direction: column;
  padding:16px;
  background-color: #e8edec;
  
  
}
.box div {
  padding-top: 12px;
}

.card-align{
  display:flex;
  flex-flow: row wrap; 
   align-content: center; 
  justify-content: space-around;
}
.card-1 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    height: 40%;
    width: 275px;
    margin:10px;
    margin-bottom: 10px;
    border-radius: 16px;
    
  }
  .card-1 p{
    padding-top: 36px;
  }
  .image {
    text-align: center !important;
  }
  
  .card-2 {
    background-color: rgb(255, 255, 255);
    margin:10px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    height: 30%;
    width: 275px;
    border-radius: 16px;
  }
  
  