.EnvironmentListsOfGoals{
    list-style-type: none;
    padding-bottom:10px ;
}
.program-list li{
    list-style-type: "- ";
  }
  .programGoalList{
    margin-top: 8px;
  }

  .environmentImgDup {
    
    width: 74%;
    max-height: 50vh;
    padding: 10px 0px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    @media (max-width:700px) {
      width: 95%;
    }
}