.paragraph-intro{
    padding-bottom: 20px;
    max-width: 94%;
}
.aboutUsImg {
    width: 95%;
    height: 40vh;
    padding: 10px 0px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
