.listOfContent {
    padding-top: 13vh;
}
.OurProject {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 8%;
}
.line-Health\&Family {
    width: 75px;
}
.Health\&FamilyHeading {
    margin-left: 5%;
}
.impact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #ffecb3; /* Light yellow background */
  }
  
li{
    list-style-type: none;
}   

.BloodDonationInitiativeslistComeHead {
    margin-left: 8%;
    margin-right: 4%;
}
.BloodDonationParaImage {
    display: flex;
    gap: 8%;
    flex-direction: row;
}
@media (max-width:900px) {
    .BloodDonationParaImage {
    flex-direction: column;
    margin: auto;
    gap: 30px;}
    
}

.BloodDonationInitiativesPara {
    width: 56%;
   
}
.BloodDonationParaImage img {
    /* vertical-align: middle; */
    width: 30%;
    height: 36vh;
    
     @media (min-width:701px) and (max-width:900px) {
        /* order: 0; */
        width: 65%;
        
    } 
    @media (max-width:700px) {
        /* order: 0; */
        width: 85%;
        
    } 
    /* padding-bottom: 151px; */
    border-radius: 16px;
}
.lineComesOurProject h4{
    margin: 28px 0px;
}
.lineComesOurProject h1{
    margin: 28px 0px;
}
.lineComesOurProject h3{
    margin: 28px 0px;
}
.orderedimg1 {
    order: 1;
}
.orderedPara1 {
    order: 0;
}
.orderedPara3 {
    order: 0;
}
.orderedimg3 {
    order: 1;
}
.orderedPara2 {
    order: 1;
}
.orderedimg2 {
    order: 0;
}
@media (max-width:900px) {
    .orderedimg2,.orderedimg1,.orderedimg3{
        
        order: 0;
        /* width: 90%; */
    }
    .orderedPara1,.orderedPara2,.orderedPara3{
        
        order: 1;
        width: 90%;
    }
        
   
}
.lineComesOurProject li{
    padding: 10px 0px;
    @media (max-width:900px) {
        font-size: 16px;
        
    }
}
.ListOfelements {
    display: flex;
    flex-direction: column;
    gap: 26px;
}






.impactOnOtherCards ul, .impactOnOtherCards li {
    margin: 0px;
    padding: 0px;
}
.impactOnOtherCards h2{
    margin-top: 0px;
}
.impactOnOtherCards {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 6%;

}

.xdcfghj {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    gap: 32px;
    /* background-color: #fef08a; */
    background: linear-gradient(to right, #fef08a 5%, #ffffff 100%);
    

    padding: 70px 10px;
}
.impactOnOtherCards {
    display: flex;
   flex-direction: row;
   width: 95%;
    
    @media (max-width:700px) {
        flex-direction: column;
        align-items: center;
    }
}
.learnMore {
    /* height: 40px; */
    display: inline-flex;
    padding: 14px 24px;
    border: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.paddingForOurProject {
    padding: 20px;
}

.connectWithUs {
    background-image: url("../../../public/Donate.svg");
    background-size: cover;
    background-position: center;
    width: 90vw;
    border-radius: 32px;
    min-height: 384px;
}

.outerToConnectWithUs {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.fullText {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    @media (max-width:700px) {
        width: 90%;
    }
}
.buttons {
    display: flex;
    flex-direction: row;

    gap: 20px;
    @media (max-width:500px) {
        flex-direction: column;
    }
}
.fullText button{
    border-radius: 8px;
    font-size: 16px;
    font-family: poppins;
}
.Join-as-a-volunteer {
background-color: #F2C94C;
    color: #000;}
.HealthAndFamilyButton{
background-color: #fff;
}
.changeWidth{
    @media (max-width:1330px) {
        width: 92vw !important;
    }
}