.EducationPage {
  position: relative;
  top: 13vh;
    display: flex;
    justify-content: center;
    @media (max-width:800px) {
  justify-content: flex-start;
  padding-left: 20px;     
    }
}
.EducationOurProject {
    display: flex;
    align-items: center;
    gap: 20px;
}

.EducationOurProject h4 {
    margin: 0px;
}
.innerContentOfEducationPage {
    width: 85%;
    
}

.Health\&FamilyWelfare {
    margin-left: 6%;
    padding-top: 24px;
}
/* EducationForAll.css */
.program-title {
  /* font-size: 1.25rem; */
  font-weight: 450;
  /* margin-bottom: 8px; */
}
.container {
  max-width: 1024px;
  /* margin: 0 auto; */
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin-left: 11%;
  padding-left: 0px;
}
  
 
  .program-list {
    margin-top: 8px; /* mt-8 */
  }
  
  .program-item {
    display: flex; /* flex */
    align-items: flex-start; /* items-start */
    margin-bottom: 8px; /* mb-8 */
  }
  .container p {
    margin: 0px;
    line-height: 24px;
}
  .program-icon {
    flex-shrink: 0; /* flex-shrink-0 */
    width: 2rem; /* w-8 */
    height: 2rem; /* h-8 */
  }
  

  
  .educationImg {
    width: 95%;
    height: 40vh;
    padding: 10px 0px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}


  
  .program-details {
    list-style-type: disc; 
    padding-left: 30px; 
    margin-top: 8px;
  }
  .toOverRideMargin{
    padding-left: 16px;
  }
  .overRidePositioning{
    margin-top: 16vh !important;
  }
  .SkillDevoplementHead{
    margin: 26px 0px;
  }
  .program-list li{
    list-style-type: "- ";
  }