
.carousel-control-next{
  display: none!important;
}
.carousel-control-prev{
  display: none!important;
}
.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  z-index: 1!important;
  width: 16px !important;
  height: 16px !important;
}