.footerpage {
    background-color: black;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    padding: 30px;
    gap: 5%;
}
.logoFooter {
    width: 48%;
    margin-bottom: 10px;
}
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; 
    /* flex-grow: 1; */
    /* margin-left: 60px; */
    max-width: 440px;
    /* margin-bottom: 40px; */
}
.h1 {
    color: #ffffff;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 800;
    line-height: 15.48px;
    text-align: left;
    margin: 14px 0px;
}
.h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 20.44px;
    margin: 8px 0px;
}
ul,li {
    list-style-type: none;
}
.p1{
    color:#ffffff;
    margin: 0px;
}
.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 34%;
    margin-top: 40px;
}
.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.image-text1{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 16px;
     margin-top: 14px;
}
.image-text2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
.fimgs{
    height: 24px;
    
}
@media(max-width:768px) {
    .footerpage{
        background-color:black ;
        background-size: cover;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        padding-left: 48px;
    
    }
    /* .image-text1{

    } */
    .card2{
        
        max-width: 70%;
        margin: 0px;
    }
    .card1{
        margin: 0px;
        max-width: 70%;
    }
    .card3{
        
     
        margin: 0px;
    }

   
}
.footerpage h1,.footerpage h2{
color: #ffffff;
}
.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}