.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8,.card9{
    
    
   
    text-align: left;
    background-color: #fff;
    width: auto;
    padding: 16px;
    border-radius: 16px;
    height: auto;
    box-shadow: 0px 0.924px 0.924px 0px rgba(0, 0, 0, 0.25);
    
}
li h1{
    color: #145C08;
}
li p{
    text-align-last: left;
}

.row-1-Ourimpact,.row-2-Ourimpact,.row-3-Ourimpact{
    display: flex;
    position: absolute;
    @media (max-width:900px) {
        display: none;
        
     }
}
.row-1-Ourimpact {
    position: absolute;
    top: 0;
    margin: 20px;
    gap: 14px;
}

    .card1 {
        margin-top: 40px;
    }

    .card3 {
        margin-right: 40px;
        margin-top: 20px;
    }
.row-1-Ourimpact h2,.row-2-Ourimpact h2,.row-3-Ourimpact h2 {
    color: #145C08;
}
.card4 {
    margin-top: 10px;
    margin-left: 60px;
}
.row-1-Ourimpact {
    
    top: 0;
    margin: 20px;
    gap: 14px;
}
.row-2-Ourimpact {
    top: 32%;
    gap: 14px;
    margin: 20px;
}
.row-3-Ourimpact {
    top: 63%;
    gap: 14px;
    margin: 20px;
}
.card5 {
    margin-bottom: 40px;
}
.card6 {
    margin-top: 12px;
}
.card7 {
    margin-top: 20px;
}
.card8 {
    margin-top: 35px;
}
.card9 {
    margin-top: 20px;
}
@media (max-width:900px) {
    .card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8,.card9{
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width:90%;
        
    } 
    
}
@media (max-width:1294px) {
    
    .row-3-Ourimpact{
        top: 65%;
    } 
    
    .row-2-Ourimpact{
        top: 37%;
    }  
 }